*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor > h1 {
  color: rgb(6, 3, 114);
  text-decoration: underline;
}

.lista{
  list-style: none;
}
.button{
  padding: .65rem;
  margin-top: .5rem;
  background-color: rgb(6, 3, 114);
  border: 1px solid rgb(1, 197, 197);
  border-radius: 10%;
  color: rgb(1, 197, 197);
}
.inputsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputsContainer input{
  padding: .5rem;
  text-align: center;
  margin: .3rem 0;
  border-radius: 4px;
}

.dataEnviadaContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dataEnviadaContainer h2{
  color: rgb(6, 3, 114);
  text-decoration: underline;
}
